<?xml version="1.0" encoding="UTF-8"?>
<Export generator="IRIS" version="26">
<Document name="appmsw-telealerts.ZPM"><Module>
  <Name>appmsw-telealerts</Name>
  <Version>1.0.7</Version>
  <Description>Products for informing and notifying via telegram messenger and email</Description>
  <Packaging>module</Packaging>
  <SourcesRoot>src</SourcesRoot>
  <Dependencies>
    <ModuleReference>
      <Name>apptools-admin</Name>
      <Version>1.1.*</Version>
    </ModuleReference>
  </Dependencies>
  <Invokes>
    <Invoke Class="appmsw.telestat.API.util" Method="Init"/>
  </Invokes>
  <SystemRequirements Interoperability="enabled" Version=">=2019.1"/>
  <Resource Name="appmsw.telestat.PKG"/>
</Module></Document></Export>
